
.titlebar{
  padding: 10rem 0 0 10rem;
  color: #350b40;
}

.reviewrow{
  padding-left:10rem ;
}

.card{
  background-color: #350b40;
   color: #ffe2ff;
   margin-right: 10px;
}
.rating-reviews {
  background-color: #ffe2ff;
  margin-bottom: 10px;
}
